@import "~bootstrap/scss/bootstrap";
body {
    background-image: url('/images/plano-fundo.jpg'); 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

$formBackgroundColor: rgba(0, 0, 0, 0.5);

/**form {
    background-color: $formBackgroundColor;    
}*/

.list-group-item{
    background-color: rgba(black, $alpha: 0.8);
    color: white;
}